<?xml version="1.0" encoding="UTF-8"?>
<xkins>
    <global-processor id="e3tableVelocity" type="net.jcreate.e3.table.skin.processor.VelocityTemplateProcessor"/>
 #foreach ($skinDef in $skinDefs)
    <skin name="${skinDef.name}" url="${skinDef.skinHome}" definition="/Skin.xml" />   
 #end    
</xkins>