*{ margin:0; padding:0; border:0;}

body{ 
  width:100%;
  height:100%;
  background-color: #FFFFFF;
  scrollbar-face-color:#eeeeee;  
  scrollbar-shadow-color: #999999;
  scrollbar-highlight-color: #999999;
  scrollbar-3dlight-color: #ffffff;
  scrollbar-darkshadow-color: #000000; 
  scrollbar-track-color: #f1f2ee; 
  scrollbar-arrow-color: #000000;
  FONT: 10pt  "宋体","tahoma", "arial", "helvetica", "sans-serif";
  } 
  

table.insertTable          {iecn: expression(cellSpacing=1);width:100%;background-color:#76A7CF;height: 24px; FONT: 10pt  "宋体","tahoma", "arial", "helvetica", "sans-serif";}
table.insertTable td.label {width:22%;text-align: center;background-color: #D9ECFD;	height: 22px; font-weight:bold} 
table.insertTable td.input {padding-left:4px; width:28%;background-color:#F0F5FA;height: 24px; } 
table.insertTable tr {background-color: #E3F1FD;height: 22px;}
table.insertTable td.selected {color: #FF3333;text-align: center; background-color:#CAF163;height: 22px; ;cursor: hand} 

table.updateTable          {iecn: expression(cellSpacing=1);width:100%;background-color:#76A7CF;height: 24px; }
table.updateTable td.label {width:22%;text-align: center;background-color: #D9ECFD;	height: 22px; font-weight:bold} 
table.updateTable td.input {padding-left:4px; width:28%;background-color:#F0F5FA;height: 24px; } 
table.updateTable tr {background-color: #E3F1FD;height: 22px;}
table.updateTable td.selected {color: #FF3333;text-align: center; background-color:#CAF163;height: 22px; ;cursor: hand} 


.font {color: #000000;text-decoration: none;line-height: 22px;}

.URL A {COLOR: blue; TEXT-DECORATION: none}
.URL A:visited {COLOR: blue; TEXT-DECORATION: none}
.URL A:hover {COLOR: blue;  TEXT-DECORATION: underline}



.button {
  BORDER-RIGHT: #2C59AA 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #2C59AA 1px solid; PADDING-LEFT: 2px;  FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5); BORDER-LEFT: #2C59AA 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #2C59AA 1px solid
}

.area { COLOR: #666666;LINE-HEIGHT: 20px;height: auto;width: auto;border: 1px solid #666666;}
.select{ background-color: #FFFFFF; cursor: hand; border: 1px solid; text-decoration: none ; }
.field {background-color: #FFFFFF;border: 1px solid #333333;}

.check{
star : expression(
onfocus=function()
 { 
   this.style.borderColor = "#FF0000";
   this.style.borderStyle = "solid";
   this.style.backgroundColor = "#FFFFFF";
   this.style.fontFamily = "����";
 },
onblur=function(){
   this.style.borderColor = "";
   this.style.borderStyle = "";
   this.style.backgroundColor = "#FFFFFF";
   this.style.fontFamily = "����";
}
)
}
.focusCheck{ border-style: dotted; border-color: #FF0000 ;background-color: #FFFFFF;;}
.radio{ 
star : expression(
onfocus=function()
 { 
   this.style.borderColor = "#FF0000";
   this.style.borderStyle = "solid";
   this.style.backgroundColor = "#FFFFFF";
   this.style.fontFamily = "����";
 },
onblur=function(){
   this.style.borderColor = "";
   this.style.borderStyle = "";
   this.style.backgroundColor = "#FFFFFF";
   this.style.fontFamily = "����";
}
)

}
.subject {text-align: center; FONT-STYLE: normal; LINE-HEIGHT: normal}
.selected {color: #FF0000; background-color: #CAF163;font-weight: normal;}
.focus { COLOR: #FF0000;background-color: #CAF163; border: 1px solid #333333;}
.readonlyColor { background-color: #C0C0C0 }