<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p --- %C{1}.%M(%L) | %m%n"/>
        </layout>
    </appender>

  <appender name="E3_FILE" class="org.apache.log4j.DailyRollingFileAppender"> 
   <param name="File" value="owk.log"/> 
   <param name="DatePattern" value="yyyy-MM-dd"/>    
   <param name="Append" value="true"/> 
   <param name="MaxFileSize" value="500KB"/> 
   <param name="MaxBackupIndex" value="1"/> 
     <layout class="org.apache.log4j.PatternLayout"> 
        <param name="ConversionPattern" value="%-d{yyyy-MM-dd  HH:mm:ss}  [%c]-[%p]  %m%n"/> 
     </layout> 
   </appender> 
  

    <logger name="org.apache">
        <level value="warn"/>
    </logger>


    <logger name="net.sf.hibernate">
        <level value="warn"/>
    </logger>

    <logger name="org.springframework">
        <level value="warn"/>
    </logger>

    <logger name="net.jcreate.e3">
        <level value="all"/>        
    </logger>    
    
    <root>
        <level value="off"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="E3_FILE"/>        
    </root>
    
</log4j:configuration>